@page "/"

<div>
    <h1>Welcome!</h1>
    <div>
        Let's play Pandemic; <br />
        the game in which <br />
        the world (most likely) <br />
        DIES.<br />

        <button>
            <a href="@("game")">Play</a>
        </button>
    </div>
</div>