@page "/"
@inherits IndexBase

<div id="welcome-box">
    <h1>Welcome!</h1>
    <div>
        Let's play Pandemic; <br />
        the game in which <br />
        the world (most likely) <br />
        DIES.<br />

        <button @onclick="LetsGetStarted">
            @*<a href="@("game")">Play</a>*@
            Begin Game
        </button>
    </div>
</div>

<SetDifficultyDialog @ref="SetDifficultyDialog" ></SetDifficultyDialog>