.cards {
    width: 20vh;
    height: auto;
}

#infection-discard-div {
    /*background-color:aquamarine;*/
    /*position: absolute;*/
    right: 0%;
    top: 50%;
}

#infection-discard-image {
    left: 88%;
    top: 5%;
}
