#map {
    background-image: url(/css/icons/Map.svg);
    background-repeat: no-repeat;
    background-color: cadetblue;
    background-position: center;
    position: relative;
    margin: 0 auto;
    width: calc(60vh*3787/1810);
    height: 60vh;
    max-width: 3787px;
    max-height: 1810px;
}

#map > * {
    position: absolute;
}

#content {
    /*background-color: rgba(85, 110, 79, 0.2);*/
    flex: 1;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.col {
    flex: 1;
    text-align: center;
}